<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>@ViewBag.Title</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/assetsAdmin/css/app.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/assetsAdmin/css/style.css">
    <link rel="stylesheet" href="~/assetsAdmin/css/components.css">
    <link rel="stylesheet" href="~/assetsAdmin/bundles/jqvmap/dist/jqvmap.min.css">
    <!-- Data Table Css -->
    <link rel="stylesheet" href="~/assetsAdmin/bundles/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/assetsAdmin/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="~/assetsAdmin/css/custom.css">
    <link rel='shortcut icon' type='image/x-icon' href='~/assetsAdmin/img/favicon.png' />
</head>

<body>
    <div class="loader"></div>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar sticky">
                <div class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li>
                            <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"><i data-feather="menu"></i></a>
                        </li>
                        <!-- <li>
                          <form class="form-inline mr-auto">
                            <div class="search-element">
                              <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="200">
                              <button class="btn" type="submit">
                                <i class="fas fa-search"></i>
                              </button>
                            </div>
                          </form>
                        </li> -->
                    </ul>
                </div>
                <ul class="navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown"
                           class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <img alt="image" src="~/assetsAdmin/img/user.png"
                                 class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right pullDown">
                            <div class="dropdown-title">@Session["Name"]</div>
                            @*<a href="#!" class="dropdown-item has-icon">
                                    <i class="far
                                            fa-user"></i> Profile
                                </a> <a href="timeline.html" class="dropdown-item has-icon">
                                    <i class="fas fa-bolt"></i>
                                    Activities
                                </a> <a href="#!" class="dropdown-item has-icon">
                                    <i class="fas fa-cog"></i>
                                    Settings
                                </a>*@
                            <div class="dropdown-divider"></div>
                            <a href="/Home/Login" class="dropdown-item has-icon text-danger">
                                <i class="fas fa-sign-out-alt"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-user">
                        <div class="sidebar-user-picture">
                            <img alt="image" src="~/assetsAdmin/img/user.png">
                        </div>
                        <div class="sidebar-user-details">
                            <div class="user-name">HM GREEN CITY</div>
                            <div class="user-role">Admin</div>
                        </div>
                    </div>
                    @{
                        Html.RenderAction("Menu", "Home", new { area = "" });
                    }
                </aside>
            </div>
            <!-- Main Content -->
            <div class="main-content">
                @RenderBody()
            </div>
            <footer class="main-footer">
                <div class="footer-left">
                    Copyright &copy; 2023 All Right Reserved.
                </div>
                <div class="footer-right">
                </div>
            </footer>
        </div>
    </div>

    <!-- General JS Scripts -->
    <script src="~/assetsAdmin/js/app.min.js"></script>
    <!-- JS Libraies -->
    <script src="~/assetsAdmin/bundles/apexcharts/apexcharts.min.js"></script>
    <script src="~/assetsAdmin/bundles/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="~/assetsAdmin/bundles/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <!-- Page Specific JS File -->
    <script src="~/assetsAdmin/js/page/index.js"></script>
    <script src="~/assetsAdmin/bundles/datatables/datatables.min.js"></script>
    <script src="~/assetsAdmin/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assetsAdmin/bundles/datatables/export-tables/dataTables.buttons.min.js"></script>
    <script src="~/assetsAdmin/bundles/datatables/export-tables/buttons.flash.min.js"></script>
    <script src="~/assetsAdmin/bundles/datatables/export-tables/jszip.min.js"></script>
    <script src="~/assetsAdmin/bundles/datatables/export-tables/pdfmake.min.js"></script>
    <script src="~/assetsAdmin/bundles/datatables/export-tables/vfs_fonts.js"></script>
    <script src="~/assetsAdmin/bundles/datatables/export-tables/buttons.print.min.js"></script>
    <script src="~/assetsAdmin/js/page/datatables.js"></script>
    <!-- Template JS File -->
    <script src="~/assetsAdmin/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="~/assetsAdmin/js/custom.js"></script>
</body>

</html>