<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>@ViewBag.Title</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/assetsAdmin/css/app.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/assetsAdmin/css/style.css">
    <link rel="stylesheet" href="~/assetsAdmin/css/components.css">
    <link rel="stylesheet" href="~/assetsAdmin/bundles/jqvmap/dist/jqvmap.min.css">
    <!-- Data Table Css -->
    <link rel="stylesheet" href="~/assetsAdmin/bundles/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/assetsAdmin/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="~/assetsAdmin/css/custom.css">
    <link rel='shortcut icon' type='image/x-icon' href='~/assetsAdmin/img/favicon.png' />
</head>
<body>
    <div class="loader"></div>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar sticky">
                <div class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li>
                            <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"><i data-feather="menu"></i></a>
                        </li>
                        <!-- <li>
                          <form class="form-inline mr-auto">
                            <div class="search-element">
                              <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="200">
                              <button class="btn" type="submit">
                                <i class="fas fa-search"></i>
                              </button>
                            </div>
                          </form>
                        </li> -->
                    </ul>
                </div>
                <ul class="navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown"
                           class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <img alt="image" src="~/images/logonew.png"
                                 class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right pullDown">
                            <div class="dropdown-title">@Session["FullName"]</div>
                            @*<a href="#!" class="dropdown-item has-icon">
                                    <i class="far
                                            fa-user"></i> Profile
                                </a> <a href="timeline.html" class="dropdown-item has-icon">
                                    <i class="fas fa-bolt"></i>
                                    Activities
                                </a> <a href="#!" class="dropdown-item has-icon">
                                    <i class="fas fa-cog"></i>
                                    Settings
                                </a>*@
                            <div class="dropdown-divider"></div>
                            <a href="/Home/Login" class="dropdown-item has-icon text-danger">
                                <i class="fas fa-sign-out-alt"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-user">
                        <div class="sidebar-user-picture">
                            <img alt="image" src="~/images/logonew.png">
                        </div>
                        <div class="sidebar-user-details">
                            <div class="user-name">HM GROUP OF COMPANY</div>
                            @*<div class="user-role">Administrator</div>*@
                        </div>
                    </div>
                    <div class="main-menu-content mt-3">
                        <ul class="sidebar-menu">
                            <li class="dropdown">
                                <a href="/User/AssociateDashBoard" class="nav-link"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
                            </li>
                            @*@if (Session["FK_RankId"].ToString() == "1")
                            {
                                <li class="dropdown">
                                    <a href="/User/DownlineRegistration" class="nav-link"><i class="fa fa-registered"></i><span>Downline Registration</span></a>
                                </li>
                            }*@
                            <li class="dropdown">
                                <a href="/User/TopupList" class="nav-link"><i class="fas fa-list"></i><span>Top Up List</span></a>
                            </li>
                            <li class="dropdown">
                                <a href="/User/TopupListNew" class="nav-link"><i class="fas fa-list"></i><span>Top Up List New</span></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="menu-toggle nav-link has-dropdown">
                                    <i class="fas fa-user"></i><span>Profile</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" href="/User/ViewProfile">View</a></li>
                                    <li><a class="nav-link" href="/KYCDocuments/KYCDocuments">Upload KYC</a></li>
                                    <li><a class="nav-link" href="/Profile/ChangePassword">Change Password</a></li>
                                </ul>
                            </li> 
                            <li class="dropdown">
                                <a href="#" class="menu-toggle nav-link has-dropdown">
                                    <i class="fas fa-users"></i><span>Team</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" href="/User/BinaryTree">Binary Tree</a></li>
                                    <li><a class="nav-link" href="/Downline/DirectList">Direct</a></li>
                                    <li><a class="nav-link" href="/Downline/DownLineList">Downline</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="/User/UserReward" class="nav-link"><i class="fas fa-trophy"></i><span>Rewards</span></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="menu-toggle nav-link has-dropdown">
                                    <i class="fas fa-rupee-sign"></i><span>Payout</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" href="/Wallet/PayoutLedger">Payout Wallet Ledger</a></li>
                                    <li><a class="nav-link" href="/UserReports/UnPaidIncomes">Unpaid Income</a></li>
                                    <li><a class="nav-link" href="/UserReports/PayoutReport">Payout Report</a></li>
                                    <li><a class="nav-link" href="/UserReports/BusinessReport">Business Report</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="menu-toggle nav-link has-dropdown">
                                    <i class="fas fa-list"></i><span>Reports</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" href="/User/DownlineRankAchieverReports">Down Rank Achiever List</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
            <!-- Main Content -->
            <div class="main-content">
                @RenderBody()
            </div>
            <footer class="main-footer">
                <div class="footer-left">
                    Copyright &copy; 2023 All Right Reserved.
                </div>
                <div class="footer-right">
                </div>
            </footer>
        </div>
    </div>
    <!-- General JS Scripts -->
    <script src="~/assetsAdmin/js/app.min.js"></script>
    <!-- JS Libraies -->
    <script src="~/assetsAdmin/bundles/apexcharts/apexcharts.min.js"></script>
    <script src="~/assetsAdmin/bundles/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="~/assetsAdmin/bundles/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <!-- Page Specific JS File -->
    <script src="~/assetsAdmin/js/page/index.js"></script>
    <script src="~/assetsAdmin/bundles/datatables/datatables.min.js"></script>
    <script src="~/assetsAdmin/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assetsAdmin/bundles/datatables/export-tables/dataTables.buttons.min.js"></script>
    <script src="~/assetsAdmin/bundles/datatables/export-tables/buttons.flash.min.js"></script>
    <script src="~/assetsAdmin/bundles/datatables/export-tables/jszip.min.js"></script>
    <script src="~/assetsAdmin/bundles/datatables/export-tables/pdfmake.min.js"></script>
    <script src="~/assetsAdmin/bundles/datatables/export-tables/vfs_fonts.js"></script>
    <script src="~/assetsAdmin/bundles/datatables/export-tables/buttons.print.min.js"></script>
    <script src="~/assetsAdmin/js/page/datatables.js"></script>
    <!-- Template JS File -->
    <script src="~/assetsAdmin/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="~/assetsAdmin/js/custom.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
    <script src="../../Autofill/jquery-ui.js"></script>
    <script>
        $("#tableExport1").DataTable({
            dom: "Bfrtip",
            "pageLength": 50,
            buttons: ["copy", "csv", "excel", "pdf", "print"],
        });
        $("#tableExport2").DataTable({
            dom: "Bfrtip",
            "pageLength": 50,
            buttons: ["copy", "csv", "excel", "pdf", "print"],
        });
    </script>
    <script>
    $(document).ready(function () {
        $("#tableExport234").DataTable({
            dom: "Bfrtip",
            "pageLength": 50,
            buttons: [
               "copy", "csv", "excel", {
                   extend: 'pdf',
                   orientation: 'landscape',
                   pageSize: 'LEGAL',
                   exportOptions: {
                       columns: ':visible',
                       columns: ':visible:not(.not-export-col)',
                   }
               }, {
                   extend: 'print',
                   //text: 'Imprimir',
                   exportOptions: {
                       columns: ':visible'
                   },
                   autoPrint: true
               }
            ]
        })
    })
    </script>
</body>

</html>