@model HMGreenCityMLM.Models.Home

<ul class="sidebar-menu">
    <li class="dropdown active">
        <a href="/Admin/AdminDashBoard">
            <i class="fas fa-desktop"></i><span>Dashboard</span>
        </a>
    </li>
    @if (Model != null)
    {
        if (Model.lstMenu != null)
        {


            foreach (var item in Model.lstMenu)
            {
                <li class="dropdown">
                    <a href="#" class="menu-toggle nav-link has-dropdown">
                        <div class="parent-icon">
                            <i class="@item.Icon"></i>
                        </div>
                        <span>@item.MenuName</span>
                    </a>
                    @if (item.Url == "#")
                    {
                        <ul class="dropdown-menu">
                            @foreach (var item1 in Model.lstsubmenu)
                            {
                                if (item1.MenuId == item.MenuId)
                                {
                                    <li class="active"><a class="nav-link" href="@item1.Url">@item1.SubMenuName</a></li>
                                }
                            }
                        </ul>
                    }
                </li>
            }
        }
    }
</ul>
