@model HMGreenCityMLM.Models.Home
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>@ViewBag.Title</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/assetsAdmin/css/app.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/assetsAdmin/css/style.css">
    <link rel="stylesheet" href="~/assetsAdmin/css/components.css">
    <link rel="stylesheet" href="~/assetsAdmin/bundles/jqvmap/dist/jqvmap.min.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="~/assetsAdmin/css/custom.css">
    <link rel='shortcut icon' type='image/x-icon' href='~/assetsAdmin/img/favicon.png' />
    <style>
        #LoginBg {
            display: flex;
            justify-content: center;
            align-content: center;
            height: 100vh;
            align-items: center;
        }
    </style>
</head>
<body style="background:linear-gradient(225deg, rgba(0,0,0,1) 0%, rgba(19,105,118,1) 0%, rgba(46,20,55,1) 100%)">
    <div class="loader"></div>
    <div id="app">
        <section class="section" id="LoginBg">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3">
                        <div class="card card-primary overflow-hidden" style="box-shadow:0 0 26px #000000;">
                            <div class="card-header text-center d-block">
                                @*<h3 class="mb-0">Login</h3>*@
                                <img style="height:63px; margin:auto;" src="/assetsAdmin/img/user.png" alt="logo" />
                            </div>
                            <div class="card-body">
                                <h6 class="mb-4 text-center">
                                    Welcome back, please login to your account.
                                </h6>
                                @using (Html.BeginForm("LoginAction", "Home", FormMethod.Post, new { @id = "signupForm" }))
                                {
                                    <div class="form-group">
                                        <label for="email">Username</label>
                                        @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @Placeholder = "Login Id", @required = "required" })
                                        <div class="invalid-feedback">
                                        </div>
                                        <p class="text-danger">
                                            @TempData["Login"]
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <div class="d-block">
                                            <label for="password" class="control-label">Password</label>
                                        </div>
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @Placeholder = "Password", @required = "required" })
                                        <div class="invalid-feedback">
                                            please fill in your password
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" id="Login" class="btn btn-primary btn-lg btn-block" name="Login" value="Sign In" />
                                    </div>
                                }
                            </div>
                        </div>
                        @*<div class="mt-5 text-muted text-center">
                                Don't have an account? <a href="auth-register.html">Create One</a>
                            </div>*@
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- END: Content-->
    <!-- General JS Scripts -->
    <script src="~/assetsAdmin/js/app.min.js"></script>
    <!-- Template JS File -->
    <script src="~/assetsAdmin/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="~/assetsAdmin/js/custom.js"></script>
</body>
</html>