@model HMGreenCityMLM.Models.EmployeeRegistrations

@{
    ViewBag.Title = "EmployeeChangePassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



@using (Html.BeginForm("EmployeeChangePassword", "EmployeeRegistration", FormMethod.Post, new { @id = "form1" }))
{

    <section>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <h6 class="mb-0">Employee Change Password</h6>
                            <p style="color: red;display: block; margin-bottom:0px; text-align:center">
                                @TempData["EmployeeChangePassword"]
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label>Login Id <span style="color: red">*</span></label>
                             @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @Placeholder = "Login Id", @onchange = "getmembername(this);" })
                            <br />
                            <span id="txtname" style="color: #fff"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <label>New Password <span style="color: red">*</span></label>
                                @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", @Placeholder = "New Password" })
                            </div>
                            <div class="form-group col-md-3">
                                <label>Confirm Password <span style="color: red">*</span></label>
                                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @Placeholder = "Confirm Password", @onchange = "validatePassword(this);" })
                            </div>
                            <div class="form-group col-md-3">
                                <label class="d-block">&nbsp;</label>
                                <input type="submit" id="btnUpdate" class="btn btn-success" name="btnUpdate" value="Update" onclick="return validateform();" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<script>
    function validateform() {
        $(".errortext").removeClass("errortext");

        if ($('#LoginId').val() == '') {
            $("#LoginId").addClass('errortext');
            $('#LoginId').focus();
            return false;
        }
        if ($('#NewPassword').val() == '') {
            $("#NewPassword").addClass('errortext');
            $('#NewPassword').focus();
            return false;
        }


        if ($('#ConfirmPassword').val() == '') {
            $("#ConfirmPassword").addClass('errortext');
            $('#ConfirmPassword').focus();
            return false;
        }

        return true;

    }
    function getmembername() {
        debugger;
        var LoginId = $('#LoginId').val();
        $.ajax({
            url: '/EmployeeRegistration/GetMemberNameForTopUp',
            type: "GET",
            dataType: "JSON",
            data: { LoginId: LoginId },
            success: function (data) {
                debugger;
                if (data.Result == "Yes") {
                    $('#txtname').html(data.DisplayName);

                    divname.style.display = "block";
                } else {
                    if (data.DisplayName != null) {
                        alert(data.DisplayName);
                        $("#LoginId").addClass('errortext');
                        $('#txtname').html("");
                        $('#LoginId').val("");
                        $('#LoginId').focus();
                        return false;
                    }
                    alert("Invalid Login ID");
                    $("#LoginId").addClass('errortext');
                    $('#txtname').html("");
                    $('#LoginId').val("");
                    $('#LoginId').focus();
                }
            }
        });
    }

    function validatePassword() {
        var confirmpassword = $("#ConfirmPassword").val();
        var newpassword = $("#NewPassword").val();
        if (confirmpassword != newpassword) {
            alert('New Password and Confirm Password are not same');
            $('#ConfirmPassword').val("");
            $('#NewPassword').val("");
            return false;
        }
    }

</script>


