@model HMGreenCityMLM.Models.DashBoard
@{
    ViewBag.Title = "AdminDashBoard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section id="dashboard-analytics">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="card">
                            <div class="card-header d-flex flex-column align-items-start pb-0">
                                <div class="avatar bg-rgba-primary p-50 m-0">
                                    <div class="avatar-content">
                                        <i class="feather icon-users text-primary font-medium-5"></i>
                                    </div>
                                </div>
                                <h2 class="text-bold-700 mt-1 mb-25">@ViewBag.TotalUsers</h2>
                                <p class="mb-0">Total Associates</p>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="card">
                            <div class="card-header d-flex flex-column align-items-start pb-0">
                                <div class="avatar bg-rgba-warning p-50 m-0">
                                    <div class="avatar-content">
                                        <i class="feather icon-package text-warning font-medium-5"></i>
                                    </div>
                                </div>
                                <h2 class="text-bold-700 mt-1 mb-25">@ViewBag.ActiveUsers</h2>
                                <p class="mb-0">Active Users</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="card">
                            <div class="card-header d-flex flex-column align-items-start pb-0">
                                <div class="avatar bg-rgba-primary p-50 m-0">
                                    <div class="avatar-content">
                                        <i class="feather icon-users text-primary font-medium-5"></i>
                                    </div>
                                </div>
                                <h2 class="text-bold-700 mt-1 mb-25">@ViewBag.InactiveUsers</h2>
                                <p class="mb-0">InActive Users</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="card">
                            <div class="card-header d-flex flex-column align-items-start pb-0">
                                <div class="avatar bg-rgba-primary p-50 m-0">
                                    <div class="avatar-content">
                                        <i class="feather icon-users text-primary font-medium-5"></i>
                                    </div>
                                </div>
                                <h2 class="text-bold-700 mt-1 mb-25">@ViewBag.BlockedUsers</h2>
                                <p class="mb-0">Blocked Users</p>
                            </div>

                        </div>
                    </div>
                </div>






                <div class="row">
                    <div class="col-lg-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Associate Details


                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div id="divusers"></div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                        <!-- /.panel -->
                    </div>

                    <div class="col-lg-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Payout Status


                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div id="divpayout"></div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                        <!-- /.panel -->
                    </div>

                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Investment Details


                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div id="divinvestment"></div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                        <!-- /.panel -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Joining Details


                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div id="divjoining"></div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                        <!-- /.panel -->
                    </div>
                </div>
            </section>
</div>
        </div>
    </div>

            <script src="../vendor/jquery/jquery.min.js"></script>
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">

                google.charts.load('current', { 'packages': ['corechart'] });
                google.charts.setOnLoadCallback(bindusers);

                function bindusers() {
                    $.ajax({
                        type: 'POST',
                        dataType: 'json',
                        contentType: 'application/json',
                        url: '/Admin/GetUserDetails',
                        data: JSON.stringify(),
                        success:
                        function (response) {
                            var datare = response;
                            var data = new google.visualization.DataTable();

                            data.addColumn('string', 'Status');
                            data.addColumn('number', 'Total');
                            for (var i = 0; i < datare.length; i++) {
                                data.addRow([datare[i].Status, parseInt(datare[i].Total)]);
                            }

                            var chart = new google.visualization.PieChart(document.getElementById('divusers'));
                            var options = {
                                pieSliceText: 'value-and-percentage',
                                format: 'decimal',
                                is3D: true,
                                legend: { position: 'bottom' },
                                animation: {
                                    startup: true,
                                    duration: 1000,
                                    easing: 'out',
                                }, chartArea: { width: "100%", height: "80%" }
                            };

                            chart.draw(data, options);




                        },
                        error: function () {
                        }
                    });
                }

            </script>


            <script type="text/javascript">

                google.charts.load('current', { 'packages': ['corechart'] });
                google.charts.setOnLoadCallback(bindrecharegedetails);

                function bindrecharegedetails() {
                    $.ajax({
                        type: 'POST',
                        dataType: 'json',
                        contentType: 'application/json',
                        url: '/Admin/GetPayoutStatus',
                        data: JSON.stringify(),
                        success:
                        function (response) {
                            var datare = response;
                            var data = new google.visualization.DataTable();

                            data.addColumn('string', 'Status');
                            data.addColumn('number', 'Total');
                            for (var i = 0; i < datare.length; i++) {
                                data.addRow([datare[i].Status, parseInt(datare[i].Total)]);
                            }

                            var chart = new google.visualization.PieChart(document.getElementById('divpayout'));
                            var options = {
                                pieSliceText: 'value-and-percentage',
                                format: 'decimal',
                                is3D: true,
                                legend: { position: 'bottom' },
                                animation: {
                                    startup: true,
                                    duration: 1000,
                                    easing: 'out',
                                }, chartArea: { width: "100%", height: "80%" }
                            };

                            chart.draw(data, options);




                        },
                        error: function () {
                        }
                    });
                }

            </script>


            <script type="text/javascript">

                google.charts.load("current", { packages: ["imagebarchart"] });
                google.charts.setOnLoadCallback(drawChart);

                function drawChart() {
                    $.ajax({
                        type: 'POST',
                        dataType: 'json',
                        contentType: 'application/json',
                        url: '/Admin/GetInvestmentDetails',
                        data: JSON.stringify(),
                        success:
                        function (response) {
                            var datare = response;
                            var data = new google.visualization.DataTable();

                            data.addColumn('string', 'Month');
                            data.addColumn('number', 'Investment');
                            for (var i = 0; i < datare.length; i++) {
                                data.addRow([datare[i].Month, parseInt(datare[i].Amount)]);
                            }

                            var chart = new google.visualization.ImageBarChart(document.getElementById('divinvestment'));
                            var options = {
                                pieSliceText: 'value-and-percentage',
                                format: 'decimal',
                                is3D: true,
                                legend: { position: 'bottom' },
                                animation: {
                                    startup: true,
                                    duration: 1000,
                                    easing: 'out',
                                }, chartArea: { width: "100%", height: "80%" }
                            };
                            chart.draw(data, options);
                        },
                        error: function () {
                        }
                    });
                }

            </script>


            <script type="text/javascript">

                google.charts.load("current", { packages: ["imagebarchart"] });
                google.charts.setOnLoadCallback(joiningdata);

                function joiningdata() {
                    $.ajax({
                        type: 'POST',
                        dataType: 'json',
                        contentType: 'application/json',
                        url: '/Admin/GetJoiningDeatils',
                        data: JSON.stringify(),
                        success:
                        function (response) {
                            var datare = response;
                            var data = new google.visualization.DataTable();

                            data.addColumn('string', 'Month');
                            data.addColumn('number', 'Total Users');
                            for (var i = 0; i < datare.length; i++) {
                                data.addRow([datare[i].Month, parseInt(datare[i].Total)]);
                            }

                            var chart = new google.visualization.ImageBarChart(document.getElementById('divjoining'));
                            var options = {
                                pieSliceText: 'value-and-percentage',
                                format: 'decimal',
                                is3D: true,
                                legend: { position: 'bottom' },
                                animation: {
                                    startup: true,
                                    duration: 1000,
                                    easing: 'out',
                                }, chartArea: { width: "100%", height: "80%" }
                            };

                            chart.draw(data, options);




                        },
                        error: function () {
                        }
                    });
                }

            </script>
