@model HMGreenCityMLM.Models.Home
@{
    Layout = null;
}

<link href="../../WebsiteCss/css/bootstrap.css" rel="stylesheet">
<link href="../../WebsiteCss/css/style.css" rel="stylesheet">
<link href="../../WebsiteCss/css/responsive.css" rel="stylesheet">
<!--Color Switcher Mockup-->
<link href="../../WebsiteCss/css/color-switcher-design.css" rel="stylesheet">
<!--Color Themes-->
<link id="theme-color-file" href="../../WebsiteCss/css/color-themes/default-theme.css" rel="stylesheet">

<link rel="shortcut icon" href="../../WebsiteCss/images/favicon.png" type="image/x-icon">
<link rel="icon" href="../../WebsiteCss/images/favicon.png" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
<section class="login-section">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="column col-lg-12 col-md-12 col-sm-12">
                <h2 class="text-center">Login Form</h2>
                <!-- Login Form -->
                <div class="login-form">
                    <!--Login Form-->
                    @using (Html.BeginForm("LoginAction", "Home", FormMethod.Post, new { @id = "signupForm" }))
                    {
                        <div class="form-group">
                            <label>Login Id *</label>
                            @Html.TextBoxFor(m => m.LoginId, new { @Placeholder = "Login Id", @required = "required" })
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            @Html.PasswordFor(m => m.Password, new { @Placeholder = "Password", @required = "required" })

                        </div>
                        <div class="clearfix">
                            <div class="pull-left">
                                <div class="form-group no-margin">
                                    <p style="color:red"> @TempData["Login"] </p>
                                </div>
                            </div>
                            <div class="pull-right">
                                <div class="form-group no-margin">
                                    <a class="theme-btn btn-style-one" href="http://moonliteagro.com/">Back To Home</a>
                                    <input type="submit" id="Login" class="theme-btn btn-style-one" name="Login" value="Sign In">

                                </div>
                            </div>
                        </div>

                    }
                </div>
                <!--End Login Form -->
            </div>
        </div>
    </div>
</section>
<script src="../../WebsiteCss/js/jquery.js"></script>
<script src="../../WebsiteCss/js/popper.min.js"></script>
<script src="../../WebsiteCss/js/bootstrap.min.js"></script>
<script src="../../WebsiteCss/js/jquery.fancybox.js"></script>
<script src="../../WebsiteCss/js/owl.js"></script>
<script src="../../WebsiteCss/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../../WebsiteCss/js/wow.js"></script>
<script src="../../WebsiteCss/js/appear.js"></script>
<script src="../../WebsiteCss/js/mixitup.js"></script>
<script src="../../WebsiteCss/js/script.js"></script>
<!-- Color Setting -->
<script src="../../WebsiteCss/js/color-settings.js"></script>
<!--Clients Section-->
